AIRTABLE_PAT=pat_your_token_here
AIRTABLE_BASE_ID=appg15pT8O0Q3A1oo

AIRTABLE_ENTITY_TABLE=Entity
AIRTABLE_AWARDS_TABLE=Gov_Awards
AIRTABLE_RAW_TABLE=Import_Raw_USASpending

SYNC_ENTITY_ID=E008
SYNC_ENTITY_SEARCH=VULCAN ELEMENTS INC
SYNC_ENTITY_NAME=Vulcan Elements Inc.
SYNC_FY_START=2020
SYNC_FY_END=2026
SYNC_MAX_ROWS=250
